<div class="container">
  <h1>{{title}}</h1>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <input type="text" class="calc-window" [value]="calcResult">
  </div>
  <div class="row" *ngFor="let row of numbers">
    <div class="col" *ngFor="let number of row">
      <button (click)="appendValue(number)" class="calc-btn">{{number}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="calculateResult()" class="calc-btn">=</button>
    </div>
  </div>
</div>

<div class="container">
  <ul>
    <li *ngFor="let entry of calcHistory">{{entry}}</li>
  </ul>
</div>
